<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda DAH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>List</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list>
        <ion-list-header>
          Lista de Contactos
        </ion-list-header>

        <ion-item *ngFor="let contact of contacts">
          <ion-avatar slot="start">
            <img src="{{contact.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{contact.name}}</h2>
            <h3>{{contact.number}}</h3>
            <p>{{contact.description}}</p>
          </ion-label>
        </ion-item>

        

        
      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
